<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目发布</title>

    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/top.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/leftnav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/b8.css">

    <script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/javascripts/link_fabu.js"></script>
    <script type="text/javascript" src="/javascripts/link_b8.js"></script>




</head>



<body>
<%- include top %>
<%- include header %>
<%- include nav%>
<%- include leftnav%>


<div class="contentnav">
      <span>
        <a href="/">螺丝工作室后台管理 ></a>
        <a href="/b_1fabu">发布 ></a>
        <a href="#">项目发布</a>
      </span>
</div>


<div id="a">
    <h>项目发布</h>
    <select id="status">
        <option value="0">招募成员中</option>
        <option value="1">进行中项目</option>
        <option value="2">成功项目</option>
        <option value="3">已死项目</option>
        <option value="all">所有项目</option>
        <option value="all" selected>状态</option>
    </select>

    <select id="cls">
        <option  value="2">geek创意</option>
        <option  value="0">科研项目</option>
        <option  value="1">外包项目</option>
        <option  value="3">校园作品</option>
        <option  value="all">所有类型</option>
        <option  value="all" selected >类型</option>
    </select>
    </br>

    <div id="more">
        <p id="add">添加组织</p>
    </div>
    <!--    /*两个模板*/ -->
    <!--  模板1 修改时 使用 -->
    <div class ="t_new">
        <div class="old"  >
            <input type="hidden" class="e_x">
            <input type="text" class="a_x" class="i1"  >
            <select class="status">
                <option class="op0" value="0">开始报名</option>
                <option class="op1" value="1">火热进行</option>
                <option class="op2" value="2">圆满完成</option>
                <option class="op3" value="3">有事烧纸</option>
                <option class="op4" value="all">所有项目</option>
            </select>

            <select class="cls">
                <option class="o1" value="2">geek创意</option>
                <option class="o2" value="0">科研项目</option>
                <option class="o3" value="1">外包项目</option>
                <option class="o4" value="3">校园作品</option>
                <option value="all">所有类型</option>
            </select>

            <span class="t">更新日期: <input type="text" class="c_x" readonly></span>


            <input  type="image"  class="cancel"  src="/images/u53.png" style="width: 18px; height: 18px; float: right; margin-top: 4px; margin-right: 10px;">
            <input  type="image"  class ="sub_project"   class="images" src="/images/dui.png" style="width: 18px; height: 18px; float: right; margin-top: 4px; margin-right: 10px;">

            <div class="div3">
                <textarea class ="text_x"> </textarea>
            </div>
        </div>
        <div class="n1">
            <span class="members">成员:</span>

            <div class="up_member" >
                <input type="text" class="member_name" style="width:40px;margin-left:8px;">
                <input type="image" class="add_member" src="/images/u77.png">

            </div>
        </div>


        <div class="n2">
            <span class="fujian">附件: </span>
            <div class="docs">
                <!-- 不显示的文档 用于当无文档时的复制 -->


                <div class="up_doc" style="display:block;">
                    <input type="image" class="my_doc" value="添加" src="/images/u77.png">
                    <div class="none"> <input type="file" class ="add_doc" hidden>  </div>
                </div>
            </div>
        </div>


    </div>
    <!--   模板2  添加时 使用 -->
    <div class="template" >
    <div class="old">
        <input type="hidden" class="e">
        <span class="a"></span>
        <span class="b"></span>
        <span class="l"></span>
        <span class="t">更新日期:<span class="c"></span> </span>


        <input  type="image"  class="del_project"  src="/images/u53.png">
        <input  type="image"  class="edit_project"    src="/images/bianji.png" >

        <div class="div1">
            <p class ="text">

            </p>
        </div>

    </div>
        <div class="n1">
            <span class="members">成员:</span>


            <div class="up_member">
                <input type="text" class="member_name" style="width:40px;margin-left:8px;">
                <input type="image" class="add_member" src="/images/u77.png">
            </div>

        </div>

        <div class="n2">
            <span class="fujian">附件: </span>
            <div class="docs">
                <div class="up_doc">
                    <input type="image" class="doc" value="添加" src="/images/u77.png">
                    <div class="none"> <input type="file" class ="add_doc">  </div>
                </div>
            </div>

        </div>


    </div>


</div>
</body>

</html>