<html>
<head>
</head>
<body>
<p><%= Date()%></p>
<p><%= new Date().toISOString()%></p>
<p>*******************</p>
<p><%= new Date(new Date().toLocaleDateString()).toLocaleDateString()%></p>

</body>
</html>
