<div id="leftnav">

<ul>
<li><a href="infoEdit">编辑资料</a></li>
<li><a href="pswEdit">修改密码</a></li>
<li><a href="skillEdit">编辑技能树</a></li>
<li><a href="joinGroup">加入组织</a></li>
<li><a href="skillSame">同道中人</a></li>
</ul>

</div>