<div id="leftnav">

<ul>
<li><a href="/user/infoEdit">编辑资料</a></li>
<li><a href="/user/pswEdit">修改密码</a></li>
<li><a href="/user/skillEdit">编辑技能树</a></li>
<li><a href="/user/joinGroup">加入组织</a></li>
<li><a href="/user/skillSame">同道中人</a></li>
</ul>

</div>