
<!--原始版本

<h1>Skill Same </h1>-->
<!--<ul>-->
    <!--<% for(var i =0;i< data.length;i++){%>-->
    <!--<% for( var j=0;j<data[i].names.length;j++){%>-->
           <!--<li>用户<%=data[i].names[j]%>同样拥有技能<%=data[i].skname%></li>-->
      <!--<%  }%>-->
    <!--<br>-->
    <!--<%}%>-->

<!--</ul>-->
<!--<p><%=data.length%></p>-->