<!doctype html>
        <html>
<head>
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#bb").click(function(){
                alert(10);
                var data={"uname":"hello","upas":"world"};
                $.ajax({
                    data:data,
                    url:"http://localhost:3000/test/json",
                    type:"post",
                    dataType:'json',
                    cache:false,
                    timeout:5000,
                    success: function(data){
                        alert(data.message);
                        console.log(typeof(data));
                       // var data = $.parseJSON(data);
                       // alert(data.message);
                    },
                    error:function(jqXHR,textStatus,errorThrown){
                        alert('error'+ textStatus+ " " + errorThrown);
                    }
                })
            })
        })
    </script>
</head>
<body>
<button id="bb">hello</button>
</body>
        </html>