<!doctype html>
        <html>
<head>

</head>
<body>
<form action="/test/2temp/222">
    <input name="_method" value="DELETE" hidden>
    <input type="submit">
</form>

<form action="/test/2temp/222">
    <input name="_method" value="PUT" hidden>
    <input type="submit">PUT
</form>



<form action="/test/2temp/222" method="post">
    <input name="_method" value="PUT" hidden>
    <input type="submit">PUT
</form>


</body>
</html>