<!doctype html>
        <html>
<head>
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
    <script>
        $(document).ready(function(){
            $("#upload").click(function(){
                var data= new FormData();
                var files = $("#file1")[0].files;
                console.log(files);
                if(files){
                    data.append("file",files[0]);
                }
                $.ajax({
                  type:"post",
                    url: "upload",
                    dataType:"json",
                    data:data,
                    contentType:false,
                    processData:false,
                    success:function(q){alert("success");console.log(q)},
                    error:function(q){alert("error");console.log(q)}
                })
            })
        })
    </script>
</head>
        <body>

            <input type="file" name="file1" id="file1">
            <button id="upload" name="upload">上传</button>

        </body>
        </html>