        h  { font-family: 微软雅黑; font-size: 24px; padding-left: 24px;} 
        p {font-family: 微软雅黑; margin-top: 0;}
        span { font-family: 微软雅黑; padding-left: 4px;}


        #a { width:1002px; min-height:728px;border:1px #000000 solid; float:left; margin-left: 2px;}
        #total { width:1002px; min-height:728px;border:1px #000000 solid; float:left; margin-left: 2px;}
        .old {width:760px; height:180px; border:1px #000000 solid; margin: 10px auto; position:relative;}
        #old { display: none;}
        .t_old { width:800px; min-height:246px; border:1px #000000 solid; margin: 10px auto; position:relative;}
        .t_new { width:800px; min-height:246px; border:1px #000000 solid; margin: 10px auto; position:relative; display: none;}
        #tt_new { width:800px; min-height:246px; border:1px #000000 solid; margin: 10px auto; position:relative; display: none;}
        #new {width:760px; height:180px; border:1px #000000 solid; margin: 10px auto; position:relative;}
 
                


         .sp2 { margin-left: 42px;}
         .i1 { width: 100px;}
         .text_x {width: 700px;height: 96px; resize:none}

         .a { position:absolute; left:6px;}
          
         .b  { position:absolute; left:120px; top:1px; font-size:14px;}
         .c  { position:absolute; left:70px; top:1px; font-size:14px; }
         .l  { position:absolute; left:240px; top:1px; font-size:14px;}
         .t  { position:absolute; left:400px; top:1px; font-size:14px; font-size: 16px;}
         .d  { float: left; margin-left: 0px; text-decoration: underline;}
         .d_x {float: left; margin-left:30px; margin-bottom:20px;}

         .a_x {width:110px;}

         .members {float: left; }
         .fujian { float: left;}
         .begin { position: absolute;left:460px; bottom:22px;}
         .over { position: absolute;left:640px; bottom:22px;}

         .fj_wendang{ float: left; }
         .d_x { position: absolute; left: 46px;bottom:2px;}
         .doc {float: left; }
         .wendang_1 {float: left;display: none;}
         .my_doc {width: 16px; height: 16px; margin-top: 4px; margin-right: 10px;  float: left; }
         .up_doc,.up_member {float: left; display: none;}

         .member { float: left; margin-left: 10px;}
         
         .n1 { width: 300px; height: 50px;  float: left; margin-left: 36px; }
         .n2 { width: 460px; height: 50px;  float: left; } 

        #add { font-family: 微软雅黑; font-size: 16px; text-align:center;}

        .edit_project,.sub_project {width: 18px; height: 18px; float: right; margin-top: 4px; margin-right: 10px;}
        .del_project {width: 18px; height: 18px; float: right; margin-top: 4px; margin-right: 10px;}
        .del_member {width: 16px; height: 16px; margin: 4px 2px; display: none;}

        .del_doc {width: 16px; height: 16px; float: right; margin-top: 4px; margin-right: 10px; display: none;}


        #input1 { background-image: url(/images/); float: right; margin-right:10px; }
        #input2 {background-image: url(/images/u77.png); float: right; margin-right: 20px;}

         
        .div1 {width:700px; height: 96px;  float: left; background: blue; margin: 20px 30px;}
        .div2 {width: 330px; height: 96px;  margin-left: 20px; margin-top: 20px; float: left; background:red; display: block;}
        .div3 {width:400px; height: 96px;  float: left;  margin: 20px 30px; }
         
         #more {width: 740px; height: 24px;  margin:auto;  border:1px #000000 solid;  }
        .moban {display: none;}
        .none {width: 0px;  height: 0px; display: none;}
        
         #o {margin-bottom: 10px;}


       

