#content span{
	padding-right: 5px;
	font-size: 25px;
	font-weight: bold;
	font-family: "华文新隶";
}
#b{
    padding-left: 80px;
    padding-top: 35px;
}

#c span{
	font-size: 15px;
}
#text,#text1,#text2,#text3{
	margin-top: 10px;
	margin-left: 80px;
	margin-right: 80px;
	padding-top: 5px;
	height: 150px;
	background-color: #fff;
	border: solid 1px #fff;
	outline-style: double;
}
#text p,#text1 p,#text2 p,#text3 p{
	margin-left: 5px;
	font-family: Georgia, serif;
	font-size: 15px;
	text-indent: 2em;
}

#text span,#text1 span,#text2 span,#text3 span{
	font-size: 15px;
}
.span1{
	margin-left: 5px;
}
.span2{
	margin-left: 26px;
}
.span3{
	margin-left: 26px;
}
.span4{
	margin-left: 200px;
}
.span5{
	margin-left: 5px;
}
.span6{
	margin-left: 100px;
	margin-right: -8px;
}
.span7{
	text-decoration: underline;
}
.span8{
	margin-left: 200px;
}
input{
	width: 100px;
	height: 25px;
}
textarea{
	margin-left: 5px;
	margin-top: 5px;
	width: 746px;
	height: 150px;
}